
<% content_for :page_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= form_with(model: initiative, local: true, html: {class: 'Form'}) do |f| %>

  <%= initiative_step 1, @current_initiative_step, title: "Describe your project, even if it's just getting started", next_text: "Next: where it's based", intro_text: "Adding your project to the site will take you around two minutes and will give your project much greater visibility to residents, councillors and climate-related organisations. You can edit your project details at any point by selecting ‘edit’ in the list-view of all projects." do %>
    <%= f.form_field :name, required: true do %>
      <%= f.label :name, 'Give your project a name' %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Project Name' %>
    <% end %>

    <%= f.form_field :status_id, required: true do %>
      <%= f.label :status_id, 'How far has your project progressed?' %>
      <%= f.select :status_id, initiative_statuses, prompt: 'Select' %>
    <% end %>

    <%= f.form_field :description_what, required: true do %>
      <%= f.label :description_what, 'What does/will your project deliver?' %>
      <%= f.text_area :description_what, placeholder: 'For example: ‘Repair cafés encouraging people to fix things rather than throw them away.’' %>
    <% end %>

    <%= f.form_field :description_how, required: true do %>
      <%= f.label :description_how, 'How does/will your project contribute to acheiving carbon neutrality?' %>
      <%= f.text_area :description_how, placeholder: 'Residents can check their item against a list of fixable  things before dropping it off at a repair cafe. A volunteer will repair the item over an appropriate length of time and arrange for owner to pick it up again.' %>
    <% end %>

    <%= f.form_field :images do %>
      <%= f.label :images, 'Add an image (optional)' %>
      <div>
        <% initiative.images.each do |image|%>
          <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
        <% end %>
      </div>
      <%= f.file_field :images, multiple: true, direct_upload: true %>
    <% end %>
  <% end %>

  <%= initiative_step 2, @current_initiative_step, title: 'Where is your project based?', next_text: 'Next: carbon emissions impact' do %>
    <% content_for :page_javascript do %>
      <%= javascript_packs_with_chunks_tag 'initiative_location_picker', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= f.form_field :postcode, class_names: 'u-mbL' do %>
      <%= f.label :postcode, 'Enter a postcode' %>
      <div class="FormFieldOverlay">
        <span id="initiative_postcode_error_message" class="FormFieldOverlay-content FormFieldOverlay-error u-hidden">Invalid postcode</span>
        <span id="initiative_postcode_updating" class="FormFieldOverlay-content FormFieldOverlay-blink u-hidden">Updating</span>
        <%= f.text_field :postcode, placeholder: 'Postcode' %>
      </div>
    <% end %>

    <div class="Circle">OR</div>

    <label class="FormField u-mtL">
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <p class="u-mb">...drag the marker to the correct place on the map</p>
      <div class="InitiativeLocationPicker u-mbL" id="location">
      </div>
    </label>
  <% end %>

  <%= initiative_step 3, @current_initiative_step, title: "Your project's likely carbon emissions impact", next_text: 'Next: contact details' do %>
    <% content_for :page_javascript do %>
      <%= javascript_packs_with_chunks_tag 'anticipated_carbon_savings', 'data-turbolinks-track': 'reload' %>
      <%= javascript_packs_with_chunks_tag 'help', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <h2 class="u-mb">Carbon Savings</h2>
    <%= f.form_field :carbon_saving_applicability do %>
      <%= f.label :carbon_saving_anticipated, nil, class_names: 'FormField-checkbox' do %>
        <%= f.check_box :carbon_saving_anticipated %>
        <span>There are, or will be, direct carbon savings from this project</span>
      <% end %>

      <%= f.label :carbon_saving_strategy, nil, class_names: (initiative.carbon_saving_anticipated? ? 'u-mtL' : 'u-mtL u-hidden') do %>
        <%= f.label :carbon_saving_strategy, 'How will carbon emissions be saved by your project?' %>
        <%= f.text_area :carbon_saving_strategy, placeholder: "For example: 'By repairing an item rather than replacing it, carbon savings will be made in landfill and manufacture'" %>
      <% end %>

      <%= f.label :carbon_saving_amount, nil, class_names: (initiative.carbon_saving_anticipated? ? 'u-mtL' : 'u-mtL u-hidden') do %>
        <div class="u-mbS">If there are likely to be carbon savings, can you anticipate what the carbon savings might be?</div>
        <%= f.number_field :carbon_saving_amount, class: 'FormField-input FormField-narrow' %> <span><%=carbon_units%></span>
      <% end %>

      <div class="Help u-mtL">
        <a class="Help-title"><svg viewBox="0 0 24 24">
              <path fill="currentColor" d="M1,21H23L12,2" />
          </svg>Help with 'kgCO2e/yr'</a>
        <p class="Help-details">Some detailed information</p>
      </div>
    <% end %>
  <% end %>

  <%= initiative_step 4, @current_initiative_step, title: 'Who can we/others contact about your project?', next_text: 'Next: climate group details' do %>
    <%= f.form_field :contact_name, required: true do %>
      <%= f.label :contact_name, 'Who is best to talk to about this project?' %>
      <%= f.text_field :contact_name, placeholder: 'Contact Name' %>
    <% end %>

    <%= f.form_field :contact_email, required: true do %>
      <%= f.label :contact_email, 'Email address to contact about this project' %>
      <%= f.text_field :contact_email, placeholder: 'Email address' %>
    <% end %>

    <%= f.form_field :consent_to_share_email do %>
      <%= f.check_box :consent_to_share_email, 'Make this email address public. (Please ensure you have permission to share it first)' %>
    <% end %>

    <%= f.form_field :contact_phone, required: false do %>
      <%= f.label :contact_phone, 'Phone number to contact about this project (optional)' %>
      <%= f.text_field :contact_phone %>
    <% end %>

    <%= f.form_field :consent_to_share_phone do %>
      <%= f.check_box :consent_to_share_phone, 'Make this phone number public. (Please ensure you have permission to share it first)' %>
    <% end %>

    <h2 class="u-mb">Website & Social Media</h2>
    <div id="initiative_websites" class="CollectionItem-container">
      <table>
        <thead>
          <tr>
            <th>Website</th>
            <th>Delete?</th>
          </tr>
        </thead>

        <tbody>
          <%= f.fields_for :websites do |website_form| %>
            <%= render 'partials/website_fields_row', f: website_form %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="FormField">
      <%= f.fields_for :websites, InitiativeWebsite.new do |website_form| %>
        <%= add_object_link 'Add website', 'initiative_websites', :partial => 'partials/website_fields_row', :locals => { :f => website_form } %>
      <% end %>
    </div>
  <% end %>

  <%= initiative_step 5, @current_initiative_step, title: 'Help us understand how you got going', next_text: 'Next: project sector and notes' do %>
    <% content_for :page_javascript do %>
      <%= javascript_packs_with_chunks_tag 'initiative_toggle_group', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <h2 class="u-mb">Groups</h2>

    <%= f.form_field :lead_group_id do %>
      <%= f.label :lead_group_id %>
      <%= f.select :lead_group_id do %>
        <option value="">Please select a group</option>
        <%=options_for_select(groups, initiative.lead_group&.id) %>
        <option value="new" <%=new_group_selected?(initiative) ? 'selected' : '' %>>Create New</option>
      <% end %>
    <% end %>

    <%= f.fields_for :lead_group do |group_fields| %>
      <div id="initiative_lead_group_new" class="<%=new_group_selected?(initiative) ? '' : 'u-hidden' %> Initiative-lead_group">
        <%=render 'groups/form_fields', group: Group.new, group_types: @group_types, f: group_fields %>
      </div>
    <% end %>

    <%= f.form_field :partner_groups_role do %>
      <%= f.label :partner_groups_role %>
      <%= f.text_field :partner_groups_role %>
    <% end %>

    <%= f.form_field :related_initiatives do %>
      <%= f.label :related_initiatives %>
      <%= f.text_area :related_initiatives, placeholder: 'Enter the names of any related initiatives here' %>
    <% end %>
  <% end %>

  <%= initiative_step 6, @current_initiative_step, title: 'Help others find your project', next_text: 'Finish and publish' do %>
    <% content_for :page_javascript do %>
      <%= javascript_packs_with_chunks_tag 'initiative_solution_picker', 'data-turbolinks-track': 'reload' %>
      <script type="text/json" id="taxonomy_hierarchy_json"><%=taxonomy_hierarchy_json.html_safe%></script>
    <% end %>
    <h2 class="u-mb">Solutions</h2>

    <%= f.form_field :solution do %>
      <%= f.label 'What categories does your project relate to?' %>
      <input class="FormField-input" type="text" id="solution_search" />
      <%= f.hidden_field :solution_attributes %>

      <div id="solution_results_container" class="u-hidden">
        <div class="SolutionSearchResultHeading"><span>Please check the categories your project relates to</span><button id="close_solution_results"><%=inline_icon('close')%></button></div>
        <div id="solution_search_results" class="SolutionSearchResults">
        </div>
      </div>
    <% end %>

    <h2>Chosen Solutions</h2>
    <div class="ChosenSolutions">
      <ul id="chosenSolutions">
      <% initiative.solutions.each do |solution| %>
        <li class="ChosenSolution">
          <input type="hidden" name="initiative[solutions][]" value="<%=solution.solution.id%>,<%=solution.solution_class.id%>" data-name="<%=solution.name%>" />
          <%=solution.name%>
        </li>
      <% end %>
      </ul>
    </div>

    <h2 class="u-mb">Notes</h2>

    <%= f.form_field :description_further_information, required: true do %>
      <%= f.label :description_further_information, "Anything else you'd like to tell the public? (optional)" %>
      <%= f.text_area :description_further_information, placeholder: 'Further notes about your project' %>
    <% end %>

    <%# <%= f.form_field :administrative_notes do %1> %>
    <%#   <%= f.label :administrative_notes %1> %>
    <%#   <%= f.text_area :administrative_notes %1> %>
    <%# <% end %1> %>

    <% if publication_statuses.map {|s| s[1]}.include?(initiative.publication_status) %>
      <%= f.form_field :publication_status, required: true do %>
        <%= f.label :publication_status, 'Publication Status' %>
        <%= f.select :publication_status, publication_statuses %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
