<% content_for :page_javascript do %>
  <%= javascript_packs_with_chunks_tag 'initiative_location_picker', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'initiative_solution_picker', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'initiative_toggle_group', 'data-turbolinks-track': 'reload' %>
  <script type="text/json" id="taxonomy_hierarchy_json"><%=taxonomy_hierarchy_json.html_safe%></script>
<% end %>

<% content_for :page_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= form_with(model: initiative, local: true, html: {class: 'FormField-form'}) do |f| %>
  <%= render 'partials/form_errors', resource: initiative %>

  <%= f.form_field :name, required: true do %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  <% end %>

  <%= f.form_field :description_what, required: true do %>
    <%= f.label :description_what, 'What' %>
    <%= f.text_area :description_what, placeholder: 'Description of Principle Deliverables' %>
  <% end %>

  <%= f.form_field :description_how, required: true do %>
    <%= f.label :description_how, 'How' %>
    <%= f.text_area :description_how, placeholder: 'Delivery Approach' %>
  <% end %>

  <%= f.form_field :description_further_information, required: true do %>
    <%= f.label :description_further_information, 'Further Information' %>
    <%= f.text_area :description_further_information, placeholder: 'Further Information about the project' %>
  <% end %>

  <%= f.form_field :images do %>
    <%= f.label :images %>
    <div>
    <% initiative.images.each do |image|%>
      <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
    <% end %>
    </div>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  <% end %>

  <%= f.form_field :anticipated_carbon_saving do %>
    <%= f.label :anticipated_carbon_saving %>
    <div>
      <%= f.number_field :anticipated_carbon_saving %> <span><%=carbon_units%></span>
    </div>
  <% end %>

  <%= f.form_field :status_id, required: true do %>
    <%= f.label :status_id, 'Status' %>
    <%= f.select :status_id, initiative_statuses %>
  <% end %>

  <h2>Location</h2>

  <%= f.form_field :postcode do %>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  <% end %>

  <label class="FormField">
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <p>Drag the marker to the location of the initiative</p>
    <div class="InitiativeLocationPicker" id="location">
    </div>
  </label>

  <h2>Website & Social Media</h2>
  <div id="websites" class="CollectionItem-container">
    <%= f.fields_for :websites do |website_form| %>
      <%= render 'partials/initiative_website', f: website_form %>
    <% end %>
  </div>
  <div class="FormField">
    <%= f.fields_for :websites, InitiativeWebsite.new do |website_form| %>
    <%= add_object_link 'Add website', 'websites', :partial => 'partials/initiative_website', :locals => { :f => website_form } %>
    <% end %>
  </div>

  <h2>Contact</h2>

  <%= f.form_field :contact_name, required: true do %>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  <% end %>

  <%= f.form_field :contact_email, required: true do %>
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  <% end %>

  <%= f.form_field :contact_phone, required: true do %>
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
  <% end %>

  <%= f.form_field :consent_to_share do %>
    <%= f.label :consent_to_share, class_name: 'FormField-checkbox' do %>
      <%= f.check_box :consent_to_share %>
      <span>Are you willing to share the information provided publicly, and have you gained permission to do so from anyone referenced?</span>
    <%end%>
  <% end %>


  <h2>Groups</h2>

  <%= f.form_field :lead_group_id do %>
    <%= f.label :lead_group_id %>
    <%= f.select :lead_group_id do %>
      <option value="">Please select a group</option>
      <%=options_for_select(groups, initiative.lead_group.id) %>
      <option value="new" <%=new_group_selected?(initiative) ? 'selected' : '' %>>Create New</option>
    <% end %>
  <% end %>

  <%= f.fields_for :lead_group do |group_fields| %>
    <div id="initiative_lead_group_new" class="<%=new_group_selected?(initiative) ? '' : 'u-hidden' %> Initiative-lead_group">
      <%=render 'groups/form_fields', group: Group.new, group_types: @group_types, f: group_fields %>
    </div>
  <% end %>

  <%= f.form_field :partner_groups_role do %>
    <%= f.label :partner_groups_role %>
    <%= f.text_field :partner_groups_role %>
  <% end %>

  <%= f.form_field :related_initiatives do %>
    <%= f.label :related_initiatives %>
    <%= f.text_area :related_initiatives, placeholder: 'Enter the names of any related initiatives here' %>
  <% end %>

  <h2>Solutions</h2>

  <%= f.form_field :solution, required: true do %>
    <input type="hidden" id="initial_themes" value="<%=themes_as_json(initiative)%>">
    <input type="hidden" id="initial_solutions" value="<%=solutions_as_json(initiative)%>">
    <div id="solution_picker"></div>
  <% end %>

  <h2>Notes</h2>

  <%= f.form_field :administrative_notes do %>
    <%= f.label :administrative_notes %>
    <%= f.text_area :administrative_notes %>
  <% end %>

  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
