<% content_for :page_javascript do %>
  <%= javascript_packs_with_chunks_tag 'initiative_location_picker', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'initiative_solution_picker', 'data-turbolinks-track': 'reload' %>
  <script type="text/json" id="taxonomy_hierarchy_json"><%=taxonomy_hierarchy_json.html_safe%></script>
<% end %>

<% content_for :page_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= form_with(model: initiative, local: true, html: {class: 'FormField-form'}) do |f| %>
  <% if initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
        <% initiative.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_field :name do %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  <% end %>

  <%= f.form_field :summary do %>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  <% end %>

  <%= f.form_field :images do %>
    <%= f.label :images %>
    <div>
    <% initiative.images.each do |image|%>
      <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
    <% end %>
    </div>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  <% end %>

  <%= f.form_field :anticipated_carbon_saving do %>
    <%= f.label :anticipated_carbon_saving %>
    <%= f.number_field :anticipated_carbon_saving %>
  <% end %>

  <h2>Location</h2>

  <%= f.form_field :locality do %>
    <%= f.label :locality %>
    <%= f.text_field :locality %>
  <% end %>

  <%= f.form_field :location do %>
    <%= f.label :location %>
    <%= f.text_field :location %>
  <% end %>

  <label class="FormField">
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <p>Drag the marker to the location of the initiative</p>
    <div class="InitiativeLocationPicker" id="location">
    </div>
  </label>

  <h2>Contact</h2>

  <%= f.form_field :contact_name do %>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  <% end %>

  <%= f.form_field :contact_email do %>
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  <% end %>

  <%= f.form_field :contact_phone do %>
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
  <% end %>

  <%= f.form_field :lead_group_id do %>
    <%= f.label :lead_group_id %>
    <%= f.select :lead_group_id, groups %>
  <% end %>

  <%= f.form_field :partner_groups_role do %>
    <%= f.label :partner_groups_role %>
    <%= f.text_field :partner_groups_role %>
  <% end %>

  <%= f.form_field :status do %>
    <%= f.label :status %>
    <%= f.select :status_id, initiative_statuses %>
  <% end %>

  <h2>Solutions</h2>

  <%= f.form_field :choose_solution do %>
    <%= f.label :choose_solution %>
    <input type="hidden" id="initial_solutions" value="<%=solutions_as_json(initiative)%>">
    <div id="solution_picker"></div>
  <% end %>

  <%= f.form_field :alternative_solution_name do %>
    <%= f.label :alternative_solution_name %>
    <%= f.text_field :alternative_solution_name %>
  <% end %>

  <%= f.form_field :consent_to_share do %>
    <%= f.label :consent_to_share, 'Are you willing to share the information provided publicly, and have you gained permission to do so from anyone referenced? ' %>
    <%= f.check_box :consent_to_share %>
  <% end %>

  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
