<% if initiative.websites.any? %>
  <div class="u-mb">
    <% initiative.websites.each do |website| %>
      <%= link_to inline_icon(website.icon), website.url, target: '_blank', class: 'Initiative-website' %>
    <% end %>
  </div>
<% end %>

<h2 class="u-mb">Description</h2>
<div class="u-mb">
  <p class="u-mbS">What: <%=initiative.description_what%></p>
  <p class="u-mbS">How: <%=initiative.description_how%></p>
  <p class="u-mbS"><%= initiative_carbon_text(initiative) %></p>
  <p class="u-mbS">Further Information: <%=initiative.description_further_information%></p>
</div>

<div class="Initiative-images_scroller">
  <div class="Initiative-images">
  <% initiative.images.each do |image|%>
    <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
  <% end %>
  </div>
</div>

<h2 class="u-mb">Solutions</h2>
<div class="u-mb">
  <ul class="u-listBulleted">
    <% initiative.themes.each do |theme| %>
      <li>Theme: <%=theme.name%></li>
    <% end %>
  </ul>
  <% if initiative.solutions.any? %>
    <ul class="u-listBulleted">
      <% initiative.solutions.each do |solution| %>
        <li>Solution: <%=solution.name%></li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2 class="u-mb">Contacts</h2>
<div class="u-mb">
  <p>Lead Group: <%=initiative.lead_group_name%></p>
  <p>Contact Name: <%=initiative.contact_name%></p>
  <% if initiative.consent_to_share_email? %>
    <p>Contact Email: <%=initiative.contact_email%></p>
  <% end %>
  <% if initiative.consent_to_share_phone? %>
    <p>Contact Phone: <%=initiative.contact_phone%></p>
  <% end %>
  <p>Partner Groups Role: <%=initiative.partner_groups_role%></p>
  <% if initiative.related_initiatives? %>
    <p>Related Initiatives: <%=initiative.related_initiatives%></p>
  <% end %>
</div>

<% if local_assigns[:show_map] && show_map %>
  <h2 class="u-mb">Location</h2>
  <div class="u-mb">
    <p>Postcode: <%=initiative.postcode%></p>
    <p>Locality: <%=initiative.location%></p>
  </div>
  <div class="Explore u-mb">
    <% content_for :page_javascript do %>
      <script type="text/json" id="map_data_json"><%=@map_data.to_json.html_safe%></script>
      <%= javascript_packs_with_chunks_tag 'initiative_map', 'data-turbolinks-track': 'reload' %>
      <% content_for :page_head do %>
        <meta name="turbolinks-visit-control" content="reload">
      <% end %>
    <% end %>
    <div class="Explore-map" id="initiative_location"></div>
  </div>
<% end %>

<div class="u-textMuted">
  <p>Initiative Created: <%=time_tag initiative.created_at%></p>
  <p>Last Updated: <%=time_tag initiative.updated_at%></p>
</div>
