<div class="u-mbL">
  <%= render 'partials/breadcrumb', items: [
    link_to('Home', root_path),
    'Initiatives'
  ] %>
</div>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading">Initiatives</h1>
  <%= link_to 'New Initiative', new_initiative_path, "data-turbolinks": false, class: 'PageHeader-action' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @initiatives.each do |initiative| %>
      <tr>
        <td><%= initiative.name %></td>
        <td><%= initiative.location %></td>
        <td><%= initiative.status_name %></td>
        <td><%= link_to 'Edit', edit_initiative_path(initiative), "data-turbolinks": false, class: 'Button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
