<% title 'Initiatives' %>

<% breadcrumb [
  link_to('Home', root_path),
  title
] %>

<%= link_to 'New Initiative', new_initiative_path, "data-turbolinks": false, class: 'Button Button--success' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
      <th>Last Updated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @initiatives.each do |initiative| %>
      <tr class="Initiative Initiative-<%=initiative.publication_status%>">
        <td><%= link_to initiative.name, initiative_path(initiative) %></td>
        <td><%= initiative.location %></td>
        <td><%= initiative.status_name %></td>
        <td><%= initiative.updated_at.strftime '%d/%m/%y %H:%M' %></td>
        <% if can_edit_initiative? initiative %>
          <td><%= link_to 'Edit', edit_initiative_path(initiative), "data-turbolinks": false, class: 'Button Button--success', data: {content: 'edit-initiative'} %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
