<div class="InitiativeView-title u-mb">
  <h1 class="InitiativeView-titleText sidebar-header"><%=link_to(@initiative.name, @inititative)%></h1>
</div>

<div class="Initiative">
  <div class="u-mb">
    <p>Status: <%=@initiative.status_name%></p>
    <% if @initiative.anticipated_carbon_saving.present? && @initiative.anticipated_carbon_saving.positive? %>
      <p>Saving: <%=format_carbon_saving(@initiative.anticipated_carbon_saving)%></p>
    <% end %>
  </div>
  <%=render 'initiative_info', initiative: @initiative%>
</div>

<%=link_to 'View Full Details', @initiative %>
