<div class="InitiativeView-title u-mb">
  <h1 class="InitiativeView-titleText sidebar-header"><%=link_to(@initiative.name, @inititative)%></h1>
</div>

<div class="Initiative">
  <div class="u-mb">
    <p>Status: <%=@initiative.status_name%></p>
    <p class="u-mbS"><%= initiative_carbon_text(@initiative) %></p>
  </div>
  <%=render 'initiative_info', initiative: @initiative%>
</div>

<%=link_to 'View Full Details', @initiative %>
