<%
  previous_step = @current_initiative_step == 1 ? 0 : @current_initiative_step - 1
  next_step = @current_initiative_step == 6 ? '' : @current_initiative_step + 1
%>
<h3>Step <%=current%> of 6: <%= title %></h3>

<div class="Initiative-step">
  <%= render 'partials/form_errors', resource: @initiative %>
  <%= yield %>
  <div class="FormField-actions">
    <% if previous_step.positive? %>
      <%= button_tag(class: 'Button--back', name: 'step', value: previous_step) do %>
        <img src="<%=asset_pack_path("media/icons/left_arrow.svg")%>"><span>Back</span>
      <% end %>
    <% else %>
      <div></div>
    <% end %>
    <%= button_tag(class: 'Button Button--success Button--large Button--next', name: 'step', value: next_step) do %>
      <span><%= next_text %></span><img src="<%=asset_pack_path("media/icons/right_arrow.svg")%>">
    <% end %>
  </div>
</div>
