<% content_for :page_javascript do %>
  <script type="text/json" id="map_data_json"><%=@map_data.to_json.html_safe%></script>
  <%= javascript_packs_with_chunks_tag 'initiatives_map', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :page_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<% content_for :content_class do
  'Explore'
end %>

<a name="explore"></a>
<div class="Explore-panel">
  <div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li><a href="#filters" role="tab"><%=inline_icon('filter')%></i></a></li>
        <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
      </ul>

      <ul role="tablist">
        <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane" id="home">
        <h1 class="sidebar-header">
          sidebar-v2
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
      </div>

      <div class="sidebar-pane Explore-navigation" id="filters">
        <h1 class="sidebar-header">Filters<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

        <a class="Explore-navigation-selected" onclick="exploreMap.select(this); exploreMap.showAll()">All</a>
        <% @sectors.each do |sector| %>
          <hr />
          <a onclick="exploreMap.select(this); exploreMap.filter('sector', '<%=sector.name%>')"><%=sector.name%></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="Explore-map sidebar-map" id="explore"></div>
  <div class="Explore-initiative"></div>
</div>
