<% content_for :page_javascript do %>
  <script type="text/json" id="map_data_json"><%=@map_data.to_json.html_safe%></script>
  <%= javascript_packs_with_chunks_tag 'initiatives_map', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :page_head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<% content_for :content_class do
  'Explore'
end %>

<a name="explore"></a>
<div class="Explore-panel">
  <div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li><a href="#filters" role="tab"><%=inline_icon('filter')%></a></li>
        <% if local_assigns[:tabs].present? %>
          <% tabs.each do |tab| %>
            <li><a href="#<%=tab[:id]%>" role="tab"><%=inline_icon(tab[:icon])%></a></li>
          <% end %>
        <%end %>
        <li class="InitiativeSidebar-icon"><a href="#initiative" role="tab"><%=inline_icon(:lightbulb)%></a></li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane Explore-navigation" id="filters">
        <h1 class="sidebar-header">Filters<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

        <a class="Explore-navigation-selected" onclick="exploreMap.select(this); exploreMap.showAll()">All</a>
        <% @sectors.each do |sector| %>
          <hr />
          <a onclick="exploreMap.select(this); exploreMap.filter('sector', '<%=sector.name%>')"><%=sector.name%></a>
        <% end %>
      </div>

      <%= yield %>

      <div class="sidebar-pane" id="initiative"></div>
    </div>
  </div>
  <div class="Explore-map sidebar-map" id="explore"></div>
  <div class="Explore-initiative"></div>
</div>
