<tr>
  <td>
    <%= f.form_field :url do %>
      <%= f.label :url, class: 'u-hiddenVisually' %>
      <%= f.text_field :url, placeholder: 'e.g. https://twitter.com/carbon-map, https://facebook.com/carbon-map' %>
    <% end %>
  </td>
  <td>
    <%= f.form_field :_destroy, class_names: 'CollectionItem-destroy' do %>
      <%= f.check_box :_destroy, {}, true, false %>
    <% end %>
  </td>
</tr>
