<%= form_with(model: group, local: true, html: {class: 'FormField-form'}) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_field :name do %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <% end %>

  <%= f.form_field :abbreviation do %>
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  <% end %>

  <%= f.form_field :opening_hours do %>
    <%= f.label :opening_hours %>
    <%= f.text_field :opening_hours %>
  <% end %>

  <%= f.form_field :contact_name do %>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  <% end %>

  <%= f.form_field :contact_email do %>
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  <% end %>

  <%= f.form_field :contact_phone do %>
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
  <% end %>

  <%= f.form_field :gdpr do %>
    <%= f.label :gdpr %>
    <%= f.check_box :gdpr %>
  <% end %>

  <%= f.form_field :gdpr_email_verified do %>
    <%= f.label :gdpr_email_verified %>
    <%= f.check_box :gdpr_email_verified %>
  <% end %>
  insert group type check boxes here

  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
