<% title 'Groups' %>

<div class="u-mbL">
  <%= render 'partials/breadcrumb', items: [
    link_to('Home', root_path),
    'Groups'
  ] %>
</div>

<div class="PageHeader u-mbL">
  <h1 class="PageHeader-heading"><%= title %></h1>
  <%= link_to 'New Group', new_group_path, class: 'Button Button--success' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.abbreviation %></td>
        <td><%= group.contact_name %></td>
        <td><%= group.contact_email %></td>
        <td><%= group.contact_phone %></td>
        <td><%= link_to 'Edit', edit_group_path(group), class: 'Button Button--primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
