<% title 'Groups' %>
<% breadcrumb [
  link_to('Home', root_path),
  title
] %>

<%= link_to 'New Group', new_group_path, class: 'Button Button--success' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.abbreviation %></td>
        <td><%= group.contact_name %></td>
        <td><%= group.contact_email %></td>
        <td><%= group.contact_phone %></td>
        <td><%= link_to 'Edit', edit_group_path(group), class: 'Button Button--success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
