<div class="Home-strapline">
  <p class="u-mb">We share community-based projects that work towards a Carbon Neutral Stroud District by 2030 and connect groups organising them.</p>
  <p class="u-mb">Share knowledge. Enable Change</p>
</div>

<div class="Home-add_or_search">
  <span class="Home-add_initiative">
  <%= link_to new_initiative_path, class: 'Button' do %>
    <img src="<%=asset_pack_path("media/icons/plus.svg")%>">

    <span>Add a project</span>
  <% end %>
  </span>

  <span class="Home-search_or">Or</span>

  <span class="Home-search">
    <form action="/search" method="GET">
      <div class="ButtonInput">
        <input type="search" name="q" placeholder="Search for a project" />
        <button type="submit" class="Button">
          <span class="u-mr">Go</span>
          <img src="<%=asset_pack_path("media/icons/right_arrow.svg")%>">
        </button>
      </div>
    </form>
  </span>
</div>

<div class="Explore-background">
  <div class="Container">
    <div class="Explore-tabs">
      <a href="#" class="Explore-tab Explore-tab_selected">
        <img src="<%=asset_pack_path("media/icons/map-marker.svg")%>">
        <span> View projects<wbr> on a map</span>
      </a>
      <a href="/initiatives" class="Explore-tab">
        <img src="<%=asset_pack_path("media/icons/list.svg")%>">
        <span>View projects<wbr> in a list</span>
      </a>
    </div>
  </div>
  <%= render 'partials/map', map_data: @map_data, sectors: @sectors, tabs: [
    {
      id: 'district',
      title: 'Districts',
      icon: 'map-marker',
    }
  ] do %>
  <div class="sidebar-pane Explore-navigation" id="district">
    <h1 class="sidebar-header">Districts</h1>
    <% @districts.each do |district| %>
      <%=link_to district.name, district%>
      <% unless @districts.last == district %>
        <hr />
      <% end %>
    <% end %>
  </div>
<% end %>
</div>

<div class="RecentlyAdded">
  <span class="RecentlyAdded-title">Recently added projects</span>
  <span class="RecentlyAdded-subtitle">Find a project that interests you, compare notes with organisers or get involved</span>

  <div class="RecentlyAdded-projects">
    <% @recently_added.each do |project| %>
      <a class="RecentlyAdded-project" href="<%=initiative_path(project)%>">
        <span class="RecentlyAdded-project_title"><span class="RecentlyAdded-project_title_snippet"><%=project.name.truncate(40, seperator: ' ')%></span></span>
        <span class="RecentlyAdded-project_description"><span class="RecentlyAdded-project_description_snippet"><%=project.description_what.truncate(50, separator: ' ')%></span></span>
      </a>
    <% end %>
  </div>
</div>
