<%= form_with(model: group_website, url: [group, group_website], local: true, html: {class: 'FormField-form'}) do |f| %>
  <% if group_website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_website.errors.count, "error") %> prohibited this group_website from being saved:</h2>

      <ul>
        <% group_website.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_field :website do %>
    <%= f.label :website %>
    <%= f.text_field :website %>
  <% end %>
  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
