<%= form_with(model: initiative_status, local: true, html: {class: 'FormField-form'}) do |f| %>
  <% if initiative_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(initiative_status.errors.count, "error") %> prohibited this initiative_status from being saved:</h2>

      <ul>
        <% initiative_status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_field :name do %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <% end %>

  <%= f.form_field :description do %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  <% end %>

  <div class="FormField-actions">
    <%= f.submit %>
  </div>
<% end %>
