<%= render 'partials/breadcrumb', items: [
  link_to('Admin', admin_path),
  'Initiative Statuses'
] %>

<div class="PageHeader">
  <h1 class="PageHeader-heading">Initiative Statuses</h1>
  <%= link_to 'New Initiative Status', new_initiative_status_path , class: 'Button Button--success'%>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @initiative_statuses.each do |initiative_status| %>
      <tr>
        <td><%= initiative_status.name %></td>
        <td><%= initiative_status.description %></td>
        <td><%= link_to 'Edit', edit_initiative_status_path(initiative_status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
