<!DOCTYPE html>
<html>
  <head>
    <title>Carbon Neutral 2030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= yield :page_head %>
  </head>

  <body>
    <div class="App">
      <header class="Header">
        <div class="Header-main">
          <%=link_to image_tag(asset_pack_path("media/images/logo.svg"), width: 100, class: 'Header-logo'), root_path %>
          <div class="Header-content">
            <nav class="Nav">
              &nbsp;
              <span class="Nav-main">
                <%=link_to 'Add a project', new_initiative_path %>
                <%=link_to 'Explore districts', districts_path %>
              </span>
              <span class="Nav-supplementary">
                <%= link_to('About', about_path)%>
                <%= link_to('Contact', contact_path)%>

                <a class="Nav-burger" onclick="document.querySelector('.Nav').classList.add('Nav-open')"><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                    <g>
                    <path fill="#ffffff" id="svg_1" d="m4,10l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2zm24,4l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2zm0,8l-24,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l24,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z"/>
                    </g>
                  </svg></a>
              </span>
              <nav class="Nav-flyover">
                <a href="#" onclick="document.querySelector('.Nav').classList.remove('Nav-open');return false;">Close</a>
                <hr />
                <%=link_to 'Add a project', new_initiative_path %>
                <%=link_to 'Explore districts', districts_path %>
                <hr />
                <%= link_to('About', about_path)%>
                <%= link_to('Contact', contact_path)%>
                <hr />
                <% unless user_signed_in? %>
                  <%= link_to 'Sign in', new_user_session_path %>
                  <%= link_to 'Sign up', new_user_registration_path %>
                <% end %>
                <% if user_signed_in? %>
                  <%= link_to('Initiatives', initiatives_path) %>
                  <%= link_to('Groups', groups_path) %>
                <% end %>
                <% if user_is_admin? %>
                  <hr />
                  <%= link_to('Group Types', group_types_path) %>
                  <%= link_to('Initiative Statuses', initiative_statuses_path) %>
                <% end %>
                <% if user_signed_in? %>
                  <hr />
                  <%= link_to 'Sign out', destroy_user_session_path %>
                <% end %>
              </span>
              </nav>
            </nav>
          </div>
        </div>
        <p class="Header-strapline">Connecting low carbon initiatives across Stroud District</p>
      </header>

      <% if notice || alert %>
        <section class="Alerts">
          <% if notice %>
          <p class="Alert Alert--info"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="Alert Alert--danger"><%= alert %></p>
          <% end %>
        </section>
      <% end %>
      <% content_class = yield :content_class %>
      <main class="<%= (content_class.size > 0) ? content_class : 'Content'%> App-content">
        <%= yield %>
      </main>

      <section class="sponsors">
        <h1>Sponsors</h1>
        <div class="sponsors-logos">
          <a class="sponsors-logo" href="https://featurist.co.uk" target="_blank"><img src="<%=asset_pack_path("media/logos/featurist.svg")%>"></a>
        </div>
      </section>
      <footer class="Footer">
        <p>&copy; Carbon Map <time datetime="<%= Date.current.year %>"><%= Date.current.year %></time></p>
      </footer>

    </div>

    <%= yield :page_javascript %>
  </body>
</html>
