<!DOCTYPE html>
<html>
  <head>
    <title>Carbon Neutral 2030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <section class="Header">
      <%=image_tag asset_pack_path("media/images/logo.png"), width: 100, class: 'Header-logo' %>
      <h1>Carbon Neutral 2030</h1>
      <p>Connecting people with initiatives</p>
      <p>
      <%= link_to 'Home', root_path, "data-turbolinks": false %> |
      <%= link_to('Initiatives', initiatives_path) + ' |' if user_signed_in? %>
      <%= link_to('Groups', groups_path) + ' |' if user_signed_in? %>
      <%= link_to('Group Types', group_types_path) + ' |' if user_signed_in? %>
      <%= link_to('Iniative Statuses', initiative_statuses_path) + ' |' if user_signed_in? %>
      <%= link_to 'Sign in', new_user_session_path unless user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path if user_signed_in? %>
      </p>
    </section>
    <% if notice || alert %>
      <section class="Notices">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </section>
    <% end %>
    <section class="Content">
      <%= yield %>
    </section>
    <%= yield :raw %>
    <section class="Footer"></section>
    <%= yield :page_javascript %>
  </body>
</html>
