<!DOCTYPE html>
<html>
  <head>
    <title>Carbon Neutral 2030</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= yield :page_head %>
  </head>

  <body>
    <section class="Header">
      <div class="Header-main">
        <%=link_to image_tag(asset_pack_path("media/images/logo.svg"), width: 100, class: 'Header-logo'), root_path %>
        <div class="Header-content">
          <nav class="Nav">
            <span class="Nav-main">
              <%=link_to 'Add a project', new_initiative_path %>
              <a>Explore projects</a>
            </span>
            <span class="Nav-supplementary">
              <a>About</a>
              <a>Contact</a>
            </span>
          </nav>
        </div>
      </div>
      <p class="Header-strapline">Connecting low carbon initiatives across Stroud District</p>
    </section>

    <% if notice || alert %>
      <section class="Alerts">
        <% if notice %>
        <p class="Alert Alert--info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="Alert Alert--danger"><%= alert %></p>
        <% end %>
      </section>
    <% end %>
    <section class="Content">
      <%= yield %>
    </section>
    <%= yield :raw %>
    <section>
        <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to('Initiatives', initiatives_path) + ' |' if user_signed_in? %>
        <%= link_to('Groups', groups_path) + ' |' if user_signed_in? %>
        <% unless user_signed_in? %>
          <%= link_to 'Sign in', new_user_session_path %> |
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
        <%= link_to 'Sign out', destroy_user_session_path if user_signed_in? %>

        </p>
        <% if user_is_admin? %>
          <p>
          <%= link_to('Group Types', group_types_path) + ' |'  %>
          <%= link_to('Initiative Statuses', initiative_statuses_path) %>
          </p>
        <% end %>
      </div>
    </section>
    <section class="Footer"></section>
    <%= yield :page_javascript %>
  </body>
</html>
