<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Carbon Neutral 2030', charset: 'utf-8', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= yield :page_head %>
  </head>

  <body>
    <div class="App">
      <header class="Header">
        <div class="Container">
          <div class="Header-main">
            <%=link_to image_tag(asset_pack_path("media/images/logo.svg")), root_path, class: 'Header-logo' %>
            <div class="Header-contentMobile">
              <nav class="Nav">
                  <%= link_to 'Add a project', new_initiative_path %>
                  <%= link_to('About', about_path)%>
                  <%= link_to('Contact', contact_path)%>
                  <% unless user_signed_in? %>
                    <%= link_to 'Sign in', new_user_session_path %>
                    <%= link_to 'Sign up', new_user_registration_path %>
                  <% end %>
                  <% if user_signed_in? %>
                    <%= link_to('Initiatives', initiatives_path) %>
                    <%= link_to('Groups', groups_path) %>
                  <% end %>
                  <% if user_is_admin? %>
                    <%= link_to('Group Types', group_types_path) %>
                    <%= link_to('Initiative Statuses', initiative_statuses_path) %>
                  <% end %>
                  <% if user_signed_in? %>
                    <%= link_to 'Sign out', destroy_user_session_path %>
                  <% end %>
              </nav>
            </div>
            <div class="Header-contentDesktop">
              <nav class="Nav">
                &nbsp;
                <span class="Nav-main">
                  <%=link_to inline_icon('circle') + '<span>Add a project</span>'.html_safe, new_initiative_path %>
                </span>
                <span class="Nav-supplementary">
                  <%= link_to('About', about_path)%>
                  <%= link_to('Contact', contact_path)%>
                </span>
              </nav>
              <nav>
                <span class="Nav-supplementary">
                  <% unless user_signed_in? %>
                    <%= link_to 'Sign in', new_user_session_path %>
                  <% end %>
                  <% if user_signed_in? %>
                    <%= link_to('Initiatives', initiatives_path) %>
                    <%= link_to('Groups', groups_path) %>
                  <% end %>
                  <% if user_is_admin? %>
                    <%= link_to('Group Types', group_types_path) %>
                    <%= link_to('Initiative Statuses', initiative_statuses_path) %>
                  <% end %>
                  <% if user_signed_in? %>
                    <%= link_to 'Sign out', destroy_user_session_path %>
                  <% end %>
                </span>
              </nav>
            </div>
          </div>
          <p class="Header-strapline">Connecting low carbon initiatives across Stroud District</p>
        </div>
      </header>

      <% content_class = yield :content_class %>
      <main class="App-content">
        <%= render 'partials/flash' %>
        <% if content_class.size > 0 %>
          <div class="<%= content_class %>">
            <%= yield %>
          </div>
        <% else %>
          <div class="Container">
            <div class="Content">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </main>

      <footer class="Footer">
        <div class="Container">
          <div class="sponsors">
            <h2>Sponsors</h2>
            <div class="sponsors-logos">
              <a class="sponsors-logo" href="https://featurist.co.uk" target="_blank"><img src="<%=asset_pack_path("media/logos/featurist.svg")%>"></a>
            </div>
          </div>
          <p class="Footer-copyright">&copy; Carbon Map <time datetime="<%= Date.current.year %>"><%= Date.current.year %></time></p>
        </div>
      </footer>

    </div>

    <%= yield :page_javascript %>
  </body>
</html>
